.DS_Store
tmux/custom/*.local

# --- ZSH ignores ---
zsh/load.zsh
zsh/custom/
zsh/plugins/fzf-tab
zsh/plugins/zsh-autosuggestions
zsh/plugins/zsh-syntax-highlighting
!zsh/custom/.gitkeep
!zsh/custom/custom_example

# --- System ignores ---
.idea
tools/tui/ghostty/fonts
tools/scripts/current_wallpaper.jpg
tools/tui/ghostty/fonts
tools/multiplex/tmux/plugins
shells/fish/fish_variables

# --- (n)vim ignores ---
nvim/.netrwhist
nvim/plugged
nvim/lazy-lock.json
.netrwhist

# --- Hypr ignores ---
tools/wayland/hypr/monitors.conf

# --- Sway ignores ---
tools/wayland/sway/monitors.conf

# --- Cosmic Ignores ---

# Ignore current session/runtime states
tools/wayland/cosmic/com.system76.CosmicTheme.Mode/
tools/wayland/cosmic/com.system76.CosmicSettings.WindowRules/
tools/wayland/cosmic/com.system76.CosmicAppletWorkspaces/
tools/wayland/cosmic/xdg-desktop-portal-cosmic/
tools/wayland/cosmic/com.system76.CosmicPortal/v1/screenshot

# Ignore dynamic notification state but KEEP the folder for 'anchor'
tools/wayland/cosmic/com.system76.CosmicNotifications/v1/do_not_distrub
tools/wayland/cosmic/com.system76.CosmicNotifications/v1/max_notifications
tools/wayland/cosmic/com.system76.CosmicNotifications/v1/max_per_app
tools/wayland/cosmic/com.system76.CosmicNotifications/v1/max_timeout_log
tools/wayland/cosmic/com.system76.CosmicNotifications/v1/max_timeout_normal
tools/wayland/cosmic/com.system76.CosmicNotifications/v1/max_timeout_urgent

# Ignore File Manager session data
tools/wayland/cosmic/com.system76.CosmicFiles/*/tab.conf

# Ignore generic locks and temps
tools/wayland/cosmic/*.lock
tools/wayland/cosmic/*.tmp
