[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/base16_shell"]
	path = zsh/plugins/base16_shell
	url = git@github.com:martinlindhe/base16-iterm2.git
[submodule "zsh/plugins/base16-iterm2"]
	path = zsh/plugins/base16-iterm2
	url = git@github.com:martinlindhe/base16-iterm2.git
[submodule "zsh/plugins/powerlevel10k"]
	path = zsh/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
