.DS_Store
tmux/custom/*.local
zsh/load.zsh
zsh/custom/
zsh/plugins/fzf-tab
zsh/plugins/zsh-autosuggestions
zsh/plugins/zsh-syntax-highlighting
nvim/plugged
!zsh/custom/.gitkeep
!zsh/custom/custom_example
.idea
.netrwhist
nvim/.netrwhist
nvim/lazy-lock.json
tools/wayland/hypr/monitors.conf
tools/wayland/sway/monitors.conf
tools/scripts/current_wallpaper.jpg
tools/wayland/cosmic/com.system76.CosmicPortal/v1/screenshot
tools/tui/ghostty/fonts
tools/multiplex/tmux/plugins
shells/fish/fish_variables
