.DS_Store
tmux/custom/*.local
zsh/load.zsh
zsh/custom/
zsh/plugins/fzf-tab
zsh/plugins/zsh-autosuggestions
zsh/plugins/zsh-syntax-highlighting
nvim/plugged
!zsh/custom/.gitkeep
!zsh/custom/custom_example
.idea
.netrwhist
nvim/.netrwhist
nvim/lazy-lock.json
tools/hyprland/hypr/monitors.conf
tools/hyprland/waypaper/current_wallpaper.jpg
tools/tui/ghostty/fonts
tools/multiplex/tmux/plugins
