[submodule "zsh/plugins/base16-shell"]
	path = zsh/plugins/base16-shell
	url = git@github.com:chriskempson/base16.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "oh-my-vim"]
	path = oh-my-vim
	url = git@github.com:Mvzundert/oh-my-vim.git
