[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/plugins/base16_shell"]
	path = zsh/plugins/base16_shell
	url = git@github.com:martinlindhe/base16-iterm2.git
