beautifulsoup4==4.9.3
bidict==0.21.2
bs4==0.0.1
cached-property==1.5.2
cachelib==0.3.0
certifi==2021.5.30
chardet==4.0.0
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
ConfigArgParse==1.5.2
dnspython==2.1.0
gixy==0.1.20
gpg==1.16.0
greenlet==1.1.1
idna==3.2
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
protobuf==3.17.3
pyparsing==2.4.7
PySocks==1.7.1
pywatchman==1.4.1
requests==2.26.0
requests-futures==1.0.0
six==1.16.0
soupsieve==2.2.1
stem==1.8.0
torrequest==0.1.0
urllib3==1.26.6
